<select name="state">
    <option value= ></option>
    <option value= 0>Propuesta</option>
    <option value= 1>En progreso</option>
    <option value= 2>Terminado</option>
</select>
<button type="submit">Buscar</button>

<ul>
    <% @projects.each do |p| %>
        <li>
            <%= p.name %>
        </li>
        <li>
            <%= p.description %>
        </li>
        <li>
            <%= p.start_on %>
        </li>
        <li>
            <%= p.end_on %>
        </li>
        <li>
            <%= p.state %>
        </li>
    <% end %>
</ul>