<ul>
    <%= form_with(model: @project, url: projects_create_path, local:true) do |f| %>
        <li>
            <%= f.text_field :name %>
        </li>
        <li>
            <%= f.text_area :description %>
        </li>
        <li>
            <%= f.date_select :start_on %>
        </li>
        <li>
            <%= f.date_select :end_on %>
        </li>
        <li>
            <%= f.select :state, options_for_select(@states) %>
        </li>
        <%= f.submit %>
    <% end %>
</ul>
